# 리스트 자료형

In [ ]:
# 추가
배열 = [1, 2, 3, 4, 5]

In [ ]:
print(배열)

[1, 2, 3, 4, 5]

In [ ]:
# 6을 추가하고싶다.
배열.append(6)

In [ ]:
print(배열)

[1, 2, 3, 4, 5, 6]

In [ ]:
배열.append(7,8)

TypeError: ignored

In [ ]:
배열.append([1,2])# 배열에 넣을수있는 자료형이 모두 가능

In [ ]:
print(배열)#

[1, 2, 3, 4, 5, 6, [1, 2]]

In [ ]:
dir(배열)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
배열2 = [3, 10, 19, 100, 1, 17]

In [ ]:
print(배열2)

[3, 10, 19, 100, 1, 17]

In [ ]:
배열2.sort()

In [ ]:
print(배열2)

[1, 3, 10, 17, 19, 100]

In [ ]:
문자열배열 = ['z', 'c', 'd', '가','다','나']
print(문자열배열)

['z', 'c', 'd', '가', '다', '나']

In [ ]:
문자열배열.sort()
print(문자열배열)

['c', 'd', 'z', '가', '나', '다']

In [ ]:
섞인거  = [1,10, 3, 'b', 'c', 'd']
print(섞인거)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거.sort()

TypeError: ignored

In [ ]:
배열3 = [5, 3, 10]
print(배열3)

[5, 3, 10]

In [ ]:
배열3.reverse()
print(배열3)

[10, 3, 5]

In [ ]:
섞인거2  = [1,10, 3, 'b', 'c', 'd']
print(섞인거2)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거2.reverse()
print(섞인거2)

['d', 'c', 'b', 3, 10, 1]

In [ ]:
배열4 = [1,2,[1,2,3]]
print(배열4)

[1, 2, [1, 2, 3]]

In [ ]:
배열4 = [1,2,[1,2,3]]
print(배열4)
배열4.reverse()
print(배열4)#[[1,2,3],2,1]
#[[3,2,1],2,1]이렇게 바꿀꺼임
배열4[0].reverse()
print(배열4)

[1, 2, [1, 2, 3]]
[[1, 2, 3], 2, 1]
[[3, 2, 1], 2, 1]

In [ ]:
숫자 = 1

In [ ]:
숫자 = 숫자+1
print(숫자)

4

In [ ]:
# 배열.index(찾고자하는값)
음식 = ['라면', '떡볶이', '커피', '짜장면', '파스타', '불족','피자','치킨']
불족인덱스 = 음식.index('불족')
print(불족인덱스)

5

In [ ]:
# 배열안에 없는 값을 찾으려고하면 에러반환!
음식.index('소고기')

ValueError: ignored

In [ ]:
#['떡볶이', '커피', '짜장면', '파스타', '불족']
떡볶이인덱스 = 음식.index('떡볶이')
피자인덱스 = 음식.index('피자')
음식2 = 음식[떡볶이인덱스:피자인덱스]
print(음식2)

['떡볶이', '커피', '짜장면', '파스타', '불족']

In [ ]:
음식.insert(불족인덱스,'소고기')
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자', '치킨']

In [ ]:
음식.pop()

'치킨'

In [ ]:
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.pop(2)#배열.pop(인덱스), 없으면 맨뒤값이 기본값

'커피'

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.remove('불족')

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '피자']

In [ ]:
꺼낸음식 = 음식.pop() # 꺼내서 넘겨주는거.
print(꺼낸음식)

피자

In [ ]:
삭제 = 음식.remove('라면') #값을 꺼내오지 X, ㄹㅇ삭제
print(삭제)

None

In [ ]:
음식.remove('라면') #안에 값이 없으면 에러

ValueError: ignored

In [ ]:
배열5 = [1,1,1,2,3,4,4,'하이','하이',1,2]
하이개수 = 배열5.count('하이')
print(하이개수)

2

In [ ]:
일의개수 = 배열5.count(1)
print(일의개수)

4

In [ ]:
없는거 = 배열5.count('집행검')#없는거 해도됨
print(없는거)

0

In [ ]:
배열6 = [1,2,3]
배열7 = [4,5,6]
배열6.extend(배열7)
print(배열6,"배열6")
print(배열7,"배열7")

[1, 2, 3, 4, 5, 6] 배열6
[4, 5, 6] 배열7

In [ ]:
배열8 = [1,2,3]
배열9 = 배열8
print(배열8,"배열8")
print(배열9,"배열9")
배열9[0] = 10
print(배열8,"배열8")
print(배열9,"배열9")

[1, 2, 3] 배열8
[1, 2, 3] 배열9
[1, 2, 3] 배열8
[10, 2, 3] 배열9

In [ ]:
배열10 = [1,2,3,4,5]
print(배열10, "클리어 이전")
배열10.clear()
print(배열10, "클리어 후")

[1, 2, 3, 4, 5] 클리어 이전
[] 클리어 후

In [ ]:
print(type(배열))

<class 'list'>

# 튜플

In [ ]:
튜플 = (1,2,3)
print(튜플)

(1, 2, 3)

In [ ]:
print(튜플[0])

1

In [ ]:
튜플[2] = 10

TypeError: ignored

In [ ]:
샘플배열 = [1,2,3]
print(샘플배열)
# 값 삭제할때씀
del 샘플배열[0]
print(샘플배열)

[1, 2, 3]
[2, 3]

In [ ]:
변수 = 1
print(변수)

1

In [ ]:
del 변수
print(변수)

NameError: ignored

In [ ]:
del 튜플[0]#튜플안의 값은 삭제 안됨

TypeError: ignored

In [ ]:
튜플1 = (1,2,3,[1,2,3])
print(튜플1)
튜플1[-1][0] = 10
print(튜플1)
튜플1[-1] = 10
print(튜플1)

(1, 2, 3, [1, 2, 3])
(1, 2, 3, [10, 2, 3])

TypeError: ignored

In [ ]:
튜플[:2]

(1, 2)

In [ ]:
dir(튜플)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
len(튜플)

3

In [ ]:
print(type(튜플))

<class 'tuple'>

# 딕셔너리

In [ ]:
딕셔너리 = {'키':'값'}
print(딕셔너리)
print(딕셔너리['키'])

{'키': '값'}
값

In [ ]:
print(type(딕셔너리))

<class 'dict'>

In [ ]:
회원정보 = {
    '이름' : '최원범',
    '번호' : '010-0000-0000',
    '성별' : '남'
}
print(회원정보)

{'이름': '최원범', '번호': '010-0000-0000', '성별': '남'}

In [ ]:
print(회원정보['이름'])
print(회원정보['번호'])
print(회원정보['성별'])

최원범
010-0000-0000
남

In [ ]:
print(회원정보['주소'])

KeyError: ignored

In [ ]:
회원정보['주소'] = '제주시'
print(회원정보)

{'이름': '최원범', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}

In [ ]:
print(회원정보['주소'])

제주시

In [ ]:
회원정보['번호'] = '010-0000-0001'
print(회원정보)

{'이름': '최원범', '번호': '010-0000-0001', '성별': '남', '주소': '제주시'}

In [ ]:
회원정보2 = {
    '이름': '최원범', 
    '번호': '010-0000-0001',
    '성별': '남', 
    '주소': '제주시',
    '번호': '010-0000-0000'
    }
print(회원정보2)#중복되는 키 허용 X

{'이름': '최원범', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}

In [ ]:
회원정보.keys()

dict_keys(['이름', '번호', '성별', '주소'])

In [ ]:
dir(회원정보)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
회원정보키 = 회원정보.keys()
회원정보값 = 회원정보.values()
print(회원정보키, "키")
print(회원정보값, "값")

dict_keys(['이름', '번호', '성별', '주소']) 키
dict_values(['최원범', '010-0000-0001', '남', '제주시']) 값

In [ ]:
print([회원정보, 회원정보])

[{'이름': '최원범', '번호': '010-0000-0001', '성별': '남', '주소': '제주시'}, {'이름': '최원범', '번호': '010-0000-0001', '성별': '남', '주소': '제주시'}]

In [ ]:
이름get = 회원정보.get('이름')
이름 = 회원정보['이름']
print(이름get,'get이용')
print(이름, 'key이용하여 가져옴')

최원범 get이용
최원범 key이용하여 가져옴

In [ ]:
샘플딕셔너리 ={
    "배열1":[1,2,3]
} 
배열get = 샘플딕셔너리.get("배열2")#없는 키값은 None으로 없다고 알려줌

In [ ]:
print(배열get)

None

In [ ]:
'이름' in 회원정보

True

In [ ]:
'직업' in 회원정보

False

# Bool 자료형

In [ ]:
print(True)

True

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(False)

False

In [ ]:
print(type(False))

<class 'bool'>

# 비교

In [ ]:
숫자1 = 10
숫자2 = 20

In [ ]:
결과1 = 숫자1 < 숫자2
print(결과1)

True

In [ ]:
결과2 = 숫자1 > 숫자2
print(결과2)

False

In [ ]:
결과3 = 숫자1 >= 숫자2
결과4 = 숫자1 <= 숫자2
결과5 = 숫자1 == 숫자2
결과6 = 숫자2 != 숫자2

# 조건문

In [ ]:
# if True/Flase 가 들어간다.
if False:
    print("거짓입니다.")

In [ ]:
if True:
    print("참입니다.")

참입니다.

In [ ]:
not True

False

In [ ]:
if not False:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

거짓입니다.

In [ ]:
조건 = False
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

거짓입니다.

In [ ]:
조건 = True
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

조건에 맞는것이 없습니다.

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5:
    print("숫자1이 5보다 큽니다.")
elif 숫자2<11:
    print("숫자2가 11보다 작습니다.")
else:
    print(숫자3, "마지막숫자입니다.")

숫자2가 11보다 작습니다.

# 논리연산

In [ ]:
print(False and False)

False

In [ ]:
print(True and False)

False

In [ ]:
print(True or False)

True

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5 or 숫자2<11:
    print("숫자1이 5보다 큽니다. 또는 숫자2가 11보다 작습니다")
elif 숫자2<11:
    print("숫자2가 11보다 작습니다.")
else:
    print(숫자3, "마지막숫자입니다.")

숫자1이 5보다 큽니다. 또는 숫자2가 11보다 작습니다

In [ ]:
입력받은값 = input()

10

In [ ]:
print(입력받은값)

10

In [ ]:
print(입력받은값 > 5)

TypeError: ignored

In [ ]:
print(type(입력받은값))

<class 'str'>

In [ ]:
입력받은숫자 = int(입력받은값)

In [ ]:
print(type(입력받은숫자))

<class 'int'>

In [ ]:
첫번째입력 = input()
두번째입력 = input()
#####
# 여기도 코드가 들어가야됨.
첫번째숫자 = int(첫번째입력)
두번째숫자 = int(두번째입력)
###
if (첫번째숫자>두번째숫자):# 숫자 2개를 입력받아서 비교함
    print("첫번째숫자가 큽니다")
elif (첫번째숫자==두번째숫자):
    print("숫자가 같습니다")
else:
    print("두번째숫자가 큽니다.")

10
15
두번째숫자가 큽니다.

# 반복문

In [ ]:
#while True인동안:
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트 = 카운트 + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#while True인동안:
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트 = 카운트 + 1
    break

0

In [ ]:
#while True인동안:
카운트 = 0
while 카운트<10:
    카운트 = 카운트 + 1
    if (카운트==1):
        continue
        
    if (카운트%2==1):
        print(카운트)

3
5
7
9

In [ ]:
문자 = "hello"
print(문자[0])

h

In [ ]:
for 숫자 in 문자:
    print(숫자)

h
e
l
l
o

In [ ]:
레인지 = range(10)

In [ ]:
print(레인지)#순서가 있다.

range(0, 10)

In [ ]:
for 숫자 in range(2,10):
    for 숫자2 in range(2,10):
        print(숫자,"X", 숫자2,"=",숫자*숫자2,end="")
    print("\n")

2 X 2 = 42 X 3 = 62 X 4 = 82 X 5 = 102 X 6 = 122 X 7 = 142 X 8 = 162 X 9 = 18

3 X 2 = 63 X 3 = 93 X 4 = 123 X 5 = 153 X 6 = 183 X 7 = 213 X 8 = 243 X 9 = 27

4 X 2 = 84 X 3 = 124 X 4 = 164 X 5 = 204 X 6 = 244 X 7 = 284 X 8 = 324 X 9 = 36

5 X 2 = 105 X 3 = 155 X 4 = 205 X 5 = 255 X 6 = 305 X 7 = 355 X 8 = 405 X 9 = 45

6 X 2 = 126 X 3 = 186 X 4 = 246 X 5 = 306 X 6 = 366 X 7 = 426 X 8 = 486 X 9 = 54

7 X 2 = 147 X 3 = 217 X 4 = 287 X 5 = 357 X 6 = 427 X 7 = 497 X 8 = 567 X 9 = 63

8 X 2 = 168 X 3 = 248 X 4 = 328 X 5 = 408 X 6 = 488 X 7 = 568 X 8 = 648 X 9 = 72

9 X 2 = 189 X 3 = 279 X 4 = 369 X 5 = 459 X 6 = 549 X 7 = 639 X 8 = 729 X 9 = 81

In [ ]:

# 아래 로직 계속실행 <
# 숫자 입력받기 <
# 1부터 9까지만 입력을 받을 수 있습니다.<
# 입력받은 수의 2,3,4,5,6,7,8,9 곱한값 출력하기
# 0을 입력하면 종료 <
while True:
    입력값 = input()
    입력숫자 = int(입력값)
    if 입력숫자==0:
        break
    if 입력숫자<0 or 입력숫자>9:
        print("1부터 9까지만 가능")
        continue
    for 곱할숫자 in range(2,10):
        print(곱할숫자,"X",입력숫자,"=",곱할숫자*입력숫자)

11
1부터 9까지만 가능
11
1부터 9까지만 가능
10
1부터 9까지만 가능
9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
0